Лабораторная работа №2

1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

In [50]:
import pandas
import numpy
from sklearn.tree import DecisionTreeClassifier

data = pandas.read_csv(r"C:\Users\USER\Desktop\ML\ML_intro\02-statement-importance\titanic.csv", index_col = 'PassengerId')
data = data.dropna()

2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

In [51]:
X = data.loc[:, ['Pclass', 'Fare', 'Age', 'Sex']]

3. Обратите внимание, что признак Sex имеет строковые значения.

In [52]:
X['Sex'].replace('male', 1, inplace=True)
X['Sex'].replace('female', 0, inplace=True)
X.head()

             Pclass     Fare   Age  Sex
PassengerId
2                 1  71.2833  38.0    0
4                 1  53.1000  35.0    0
7                 1  51.8625  54.0    1
11                3  16.7000   4.0    0
12                1  26.5500  58.0    0

4. Выделите целевую переменную — она записана в столбце Survived.

In [53]:
y = data.loc[:, ['Survived']]

5. В данных есть пропущенные значения — например, для некоторых
пассажиров неизвестен их возраст. Такие записи при чтении их в
pandas принимают значение nan. Найдите все объекты, у которых
есть пропущенные признаки, и удалите их из выборки.

In [54]:
X.isna().sum()

Pclass    0
Fare      0
Age       0
Sex       0
dtype: int64

6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию

In [56]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y) 
importances = clf.feature_importances_
important = pandas.Series(clf.feature_importances_, index=list(data[['Pclass', 'Fare', 'Age', 'Sex']]))
important.head()

Pclass    0.017933
Fare      0.295492
Age       0.403106
Sex       0.283469
dtype: float64

Ответ: 'Fare', 'Age'