Лабораторная работа №1

1. Какое количество мужчин и женщин ехало на корабле? В качестве
ответа приведите два числа через пробел.

In [24]:
import pandas

data = pandas.read_csv(r"C:\Users\USER\Desktop\ML\ML_intro\01-titanic-assignment\titanic.csv", index_col = 'PassengerId')

data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:

print(data.loc[:, 'Sex'].value_counts()['male'], data.loc[:, 'Sex'].value_counts()['female'])

577 314

2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух
знаков.

In [32]:
print(((data['Survived'].value_counts()[1] / (data['Survived'].value_counts()[0] + data['Survived'].value_counts()[1]))*100).round(2))

38.38

3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до
100, знак процента не нужен), округлив до двух знаков.

In [34]:
(data['Pclass'].value_counts(normalize=True)[1]*100).round(2)

24.24

4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста
пассажиров. В качестве ответа приведите два числа через пробел.

In [28]:
print(data['Age'].mean().round(2), data['Age'].median())

29.7 28.0

5. Коррелируют ли число братьев/сестер с числом родителей/детей?
Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [29]:
data['SibSp'].corr(data["Parch"]).round(2)

0.41

6. Какое самое популярное женское имя на корабле? Извлеките из
полного имени пассажира (колонка Name) его личное имя (First
Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и
шумные, но из них требуется извлечь необходимую информацию.
Попробуйте вручную разобрать несколько значений столбца Name
и выработать правило для извлечения имен, а также разделения
их на женские и мужские

In [30]:
l = data.loc[:, "Name":"Sex"].values.tolist()
name = []
for x in l:
    if x[1] == 'female' in x:
        b = x[0].split(',')
        name.append(b[1])
name1 = []
for x in name:
    fl = False  
    b = x.split()
    for i in range(len(b)):
        if '(' in b[i]:
            name1.append(b[i].lstrip('()'))
            fl = True 
    if fl == False:
        name1.append(b[1])
name2 = pandas.DataFrame(name1)
name2.value_counts()

Anna         14
Mary         13
Elizabeth    11
Margaret     10
Alice         6
             ..
Grace         1
Gretchen      1
Hannah        1
Hanne         1
Wendla        1
Name: count, Length: 185, dtype: int64